<web-app>
    <display-name>Games web app</display-name>

    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>/Users/PC/Desktop/apache-tomcat-10.1.8/webapps/juegos_data</param-value>
    </context-param>
</web-app>